@media only screen and (max-width: 1199px) {
}

@media (max-width: 967px) {
}

@media screen and (max-width: 768px) {
}

@media (max-width: 510px) {
    .navbar .navbar-brand, .navbar .navbar-nav, .social-links {
        margin-left: 0;
    }

    .header h1 {
        margin-top: 50px;
        font-size: 50px;
    }

    .header p {
        font-size: 15px;
        letter-spacing: 0;
        margin-top: 0;
    }

    .header .btn {
        width: 250px;
        margin-left: 120px;
        margin-top: 20px;
}

.service-section {
    text-align: center;
}

.contact-section input {
    width: 50%;
    margin-left: 10px;
}

}